@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}



body {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;


}

/*navigation styles*/
.Navbar {
    background-color: #262626;
    display: flex;
    padding: 22px;
    font-family: sans-serif;
    color: white;
    width: 100%;
    height: 100%;
    z-index: 999;



}

.Navbar-Link {
    padding-right: 8px;
    width: 100%;
    text-decoration: none;
    list-style-type: none;

}

a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    padding: 28px;
}

.Navbar-Items {
    display: flex;
    justify-content: space-around;
    margin: auto;
}



.Navbar-Link-toggle {
    display: none;
}

@media only screen and (max-width: 768px) {

    .Navbar-Items,
    .Navbar {
        flex-direction: column;
        padding: 55px 20px;
        z-index: 999;





    }

    .Navbar-Items {
        display: none;
        margin: 0 auto;
        text-align: center;




    }

    .Navbar-Link {
        padding: 25px;
    }


    .Navbar-ToggleShow {
        display: flex;

    }

    .Navbar-Link-toggle {
        align-self: flex-end;
        display: initial;
        position: absolute;
        cursor: pointer;


    }
}