.flex-container {
    flex-direction: column;

}

.flex-container .box-img img {
    width: 100% !important;

}

#our-story-content {
    flex-direction: column;
    text-align: center;
    display: block !important;

}

#our-story-content .story-text {
    margin-bottom: 55px;
    font-size: 16px !important;
    flex: 1;

}

#our-story-content .img-story {
    height: 350px !important;
}

.img-grid {
    display: none !important;
}

#meet-chef {
    display: block;
    flex-direction: column;
    margin-top: 55px;
}

.box-cta {
    flex-direction: column !important;
    display: block;
    margin: 25px;


}